
/* HEADER */
header{
    background-color: rgb(44, 62, 80);
}

/* main */
.jumbotron{
    min-height: 150px;
    background-color: rgb(26, 188, 156);
}

.jumbotron img{
    width: 200px;
}
.break-line{
    margin: 10px ;
    width: 60px;
    height: 3px;
    background-color: white;
}
  
.star{
    color: white;
    font-size: 30px;
}
  
/* Portfolio */
#portfolio{
    padding-bottom: 40px;
}
#portfolio img{
    border-radius: 5%;
}
#portfolio h1{
    padding: 20px;    
    color: rgb(44, 62, 80);
}
#portfolio .break-line{
    background-color: rgb(44, 62, 80);
}

#portfolio .star{
    color: rgb(44, 62, 80);
}



/* FOOTER */
footer{
    height: 70px;
    border: 2px dashed yellow;
    background-color: #2C3E50;
}