*{
    color: black;
}

*[class*="container"] {
    border: 2px dashed green;
}

/* HEADER */
header{
    min-height: 70px;
    border: 2px solid black;
    background-color: #2C3E50;
}

.navbar{
    width: 100%;
    border: 1px dashed red;
}




/* main */

.jumbotron{
    min-height: 150px;
    background-color: #1ABC9C;
    border: 1px dashed yellow;
}

.star{
    min-height: 250px;
    margin: 0 auto;
    border: 2px dashed blue;

}


.about{
    min-height: 200px;
    margin: 0 auto;
    border: 2px dashed black;
}


.contact{
    min-height: 150px;
    margin: 0 auto;
    border: 2px dashed salmon;
}

/* LOCATION */
.location{
    min-height: 150px;
    margin: 0 auto;
    border: 2px dashed rebeccapurple;

}

/* FOOTER */
footer{
    height: 70px;
    border: 2px dashed yellow;
    background-color: #2C3E50;
}