
/* HEADER */
header{
    background-color: rgb(44, 62, 80);
}

/* main */
.jumbotron{
    min-height: 150px;
    background-color: rgb(26, 188, 156);
}

.jumbotron img{
    width: 200px;
}
.break-line{
    margin: 10px ;
    width: 60px;
    height: 3px;
    background-color: white;
}
  
.star{
    color: white;
    font-size: 30px;
}
  
/* Portfolio */
#portfolio{
    padding-bottom: 40px;
}
#portfolio img{
    border-radius: 5%;
}
#portfolio h1{
    padding: 20px;    
    color: rgb(44, 62, 80);
}
#portfolio .break-line{
    background-color: rgb(44, 62, 80);
}

#portfolio .star{
    color: rgb(44, 62, 80);
}

/* About */
#about{
    background-color: rgb(26, 188, 156);
    padding: 30px;
}
 /* CONTACT */
 #contact h1{
    color: rgb(44, 62, 80);
 }
#contact .star{
    color: rgb(44, 62, 80);
}
#contact .break-line{
    background-color: rgb(44, 62, 80);
}



/* FOOTER */
footer{
    background-color: #3A546D;
}

#location{
    color: white;
    font-weight: bold;
    padding: 30px;
}

#location > div{
    padding: 20px;
}
.circle{
    width: 40px; 
  height: 40px; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid white;
  margin: 5px;
}

/* copyright */