
/* HEADER */
header{
    background-color: rgb(44, 62, 80);
}

/* main */
.jumbotron{
    min-height: 150px;
    background-color: rgb(26, 188, 156);
}

.jumbotron img{
    width: 200px;
}
.break-line{
    margin: 10px ;
    width: 60px;
    height: 3px;
    background-color: white;
}
  
.jumbotron .star{
    color: white;
    font-size: 30px;
}
  








/* FOOTER */
footer{
    height: 70px;
    border: 2px dashed yellow;
    background-color: #2C3E50;
}